# Database configuration
DATABASE_URL=postgres://postgres:postgres@localhost:5432/postgres
PGUSER=postgres
PGHOST=localhost
PGPASSWORD=postgres
PGDATABASE=postgres
PGPORT=5432

# Session configuration
SESSION_SECRET=your-session-secret

# Email configuration - choose one of the email service options below
EMAIL_SERVICE=gmail
EMAIL_USER=your-email@gmail.com
EMAIL_PASSWORD=your-app-password-not-regular-password
EMAIL_RECIPIENTS=recipient1@example.com,recipient2@example.com

# Uncomment below for debugging email issues
# EMAIL_DEBUG=true